<h1>Add User</h1>

<%= form_for @user, url: admin_dashboard_index_path do |f| %>

   <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>

  <%= f.submit 'Create User' %>
<% end %>

<%= link_to 'Back to Users', admin_dashboard_index_path %>