<section class="hero is-fullheight">

    <div class="container has-text-centered">
      <div class="LandingBox box p-6">
        <%= image_tag('cool.png', alt: 'Logo', class: 'logo-icon', width: '50') %>
        <h1 class="title">ShibaFinance</h1>
        <p class="subtitle">The Kawaii Way to Navigate the Stock Markets!</p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="control">
                <%= f.check_box :remember_me, class: 'checkbox' %>
                <%= f.label :remember_me, class: 'checkbox-label' %>
              </div>
            </div>
          <% end %>

          <div class="field">
            <div class="control">
              <%= f.submit "Log in", class: 'button is-success' %>
            </div>
          </div>
        <% end %>

   
  
    </div>
  </div>
</section>
